*{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.datos, .dos {
    flex: 0 0 50%;
    box-sizing: border-box;
}

.datos{
    background-color: aqua;
    padding: 20px 10px 20px 20px;
}

.formularioPresupuesto {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    padding: 20px;
    margin: 0px; /* Elimina el margen */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluye padding y border en el 100% del ancho */
}

.formularioPresupuesto label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    color: #333;
}

.formularioPresupuesto input, .formularioPresupuesto select {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    margin-bottom: 20px; /* Espacio entre los campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; /* Incluye padding y border en el 100% del ancho */
}

.formularioPresupuesto h1 {
    color: #0056b3;
    margin-bottom: 20px;
    text-align: center; /* Centrar el título */
}
